<%= form_with(model: rating) do |form| %>
  <% if rating.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% rating.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :imdb_id, id:"movie-id", value:"0", required: true %>
  <%= form.text_field :img_url, id:"movie-img", value:"https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png", required: true %>
  <input type="text" id="movie-title" oninput="movieSuggestion()" placeholder="Título do filme" autocomplete="off">
  <%= 
    content_tag :div, id: "suggestions" do
    end 
  %>
  <%= form.text_area :description, required: true, cols:"30", rows:"10", placeholder:"Digite sua avaliação..." %>
  <%= form.label :rating, value:"Nota:", style: "display: block" %>
  <%= form.number_field :rating, in:1.0..10.0, step: 0.1, required: true, id:"movie-rate" %>
  <%= form.submit id:"movie-submit", value:"Cadastrar" %>
<% end %>
