<div id="<%= dom_id rating %>">
  <p>
    <strong>Img url:</strong>
    <%= rating.img_url %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= rating.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rating.description %>
  </p>

  <p>
    <strong>Imdb:</strong>
    <%= rating.imdb_id %>
  </p>

</div>
