<% if notice %>
  <div class="notice-card">
    <div class="time-bar"></div>
    <p><%= notice %></p>
  </div>
<% end %>

<div class="titleShow">
  <%= link_to ratings_path , class: "movie-card", onclick: "reloadPage()" do %>
    <img src="/utils/arrow-left.svg" class="back-btn" />
  <% end %>
  <h1 class="movie-title">Título do Filme</h1>
  <hr>
</div>
<div class="containerShow">
  <div class="movie-image">
    <%= image_tag(@rating.img_url, id: "movie-image") %>
  </div>
  <div class="rate-details">
    <h3 class="rate">
      <%= @rating.rating %> / 10.00
    </h3>
    <div class="description">
      <%= @rating.description %>
    </div>
    <div class="created_at">
      <%= @rating.created_at.strftime("%d/%m/%Y") %>
    </div>
    <%= button_to "Deletar Avaliação", @rating, method: :delete, class: "deleteMovie", onclick: "beforeDelete()" %>
  </div>
</div>

<script type="text/javascript" src="/jquery.js"></script>

<script type="text/javascript">
  function beforeDelete() {
    localStorage.setItem("notice", "Avaliação deletada com sucesso");
    reloadPage();
  }

  function reloadPage() {
    const t = setTimeout(() => {
      localStorage.setItem("timeout", t);
      window.location.reload();
    }, 200);
  }

  jQuery(document).ready(function(){
    const url = 'http://www.omdbapi.com/?i=<%= @rating.imdb_id %>&apikey=7a4ec86c';
    
    $.get(url, (data, status) => {
      if (status == 'success') {
        document.getElementsByClassName("movie-title")[0].innerText = data.Title;
      }
    });
  });
</script>
